
<h1>Books</h1>

<button ng-click="addForm.activate()" class="btn btn-default">Add</button>
<table class="table book-table">

  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="book in books | orderBy:'title'">
      <td><a ng-href="#/books/{{book.id}}">{{book.title}}</a></td>
      <td>{{book.author | authorName}}</td>
      <td><a style="cursor: pointer"
              ng-really-message="Are you sure you want to delete {{book.title}}?"
              ng-really="delete(book, $index)">&times;</a></td>
    </tr>
    <tr ng-show="addForm.active">
      <td>
        <input ng-model="addForm.title"
               placeholder="New book title..."
               class="form-control" type="text">
      </td>
      <td>
        <form
              ng-submit="addForm.submit()"
              class="form-inline">
          <input ng-model="addForm.first"
                  class="form-control" style="width: 40%"
                  placeholder="Author first name"
                  type="text" required>
          <input ng-model="addForm.last"
                  class="form-control" style="width: 40%"
                  placeholder="Author last name"
                  type="text" required>
          <button ng-click="addForm.deactivate()"
                  class="btn btn-default">Cancel</button>
          <input ng-submit="addForm.submit()"
                  type="submit" class="btn btn-success">

        </form>
      </td>
    </tr>
  </tbody>

  <p class="text-danger">{{error}}</p>
</table>

</div>
